/*
        PRP Project
        Copyright (C) 2020  The PRP Project

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/

@import "../../../scss/styles";

/******************************
 Home Plugin SCSS
 *****************************/

.notificationList {
  text-align: center;
}

.notificationCard {
  width: 95%;
  padding: 10px;
  text-align: left;
  margin: 0 auto 10px;
  background-color: #efefef;
  color: #000;
  border: none;
  border-bottom: 5px solid $primary-color;
  border-radius: 5px;

  .warningIcon {
    visibility: hidden;
  }
}
